@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');

$font-stack:    'Cabin', sans-serif;
$body-color: #333;
$primary-color: #A9CB79;
$secondary-color: #DEAC5D;
$brown-black: #3B3333;
$misc-border: #E2E2E2;
$dull-header:#C6CBB9;
$grey-box-bg: #EFEFEF;
$grey-box-border: #CECECE;

::selection { background: rgba(red($primary-color), green($primary-color), blue($primary-color), 0.4); }

body {
  font: 100% $font-stack;
  text-rendering: optimizeLegibility;
  color: $body-color;
  letter-spacing: .01rem;
  background:$brown-black;
}
h1 {
    font-weight: 700;
    font-size:2.25rem;
    margin-bottom:1.5rem;
}
h2 {
    font-size:1.5rem;
    font-weight: 700;
    margin-bottom:1.5rem;
}
h3 {
    font-size:1.125rem;
    font-weight: 700;
    margin-bottom:1.5rem;
}
p {
	font-size:1rem;
	line-height: 1.3rem;
	margin-bottom:1.2rem;
	strong {
		font-weight: 600;
	}
}
.bg-success {
	background:$primary-color!important;
}
.bg-warning {
	background:$secondary-color!important;
}
.btn {
	border-radius:0px;
	border: 0px solid transparent;
	padding: 0.375rem 1.5rem;

	&.btn-success {
	    background-color: $primary-color;
	    border-color: $primary-color;
	    &:hover {
			background-color: darken( $primary-color, 10% );
		}
	}

	&.btn-secondary {
	    background-color: $secondary-color;
	    border-color: $secondary-color;
	    &:hover {
			background-color: darken( $secondary-color, 15% );
		}
	}

	&.btn-xl {
		padding: 1rem 3rem;
	    font-size: 1.25rem;
	    line-height: 1.5;

	    svg {
	    	margin-right:.35rem;
	    }
	}
}
.footerCallToAction {
	text-align: center;

	a.btn {
		display:inline-block;
		margin-bottom:1.5rem;
	}

	p {
		font-size:1.3rem;
	}
}

.logo-text h1 {
	color:$primary-color;
	display: inline;
    margin-left: .5rem;
    font-weight: 800;
    font-style: italic;
    vertical-align: top;
    line-height: 2rem;

	&:hover {

	}
}
a {
  color:$primary-color;

  &:hover{
  	color: darken($primary-color, 20%);
  }
}
input, textarea, select {
	&.form-control {
		border-radius: 0px;
		border: 1px solid $misc-border;

		&:focus{
			border-color: rgba(red($primary-color), green($primary-color), blue($primary-color), 0.5);
			box-shadow:0 0 0 0.2rem rgba(red($primary-color), green($primary-color), blue($primary-color), 0.25)
		}
	}
}
hr {
	width:100%;
	margin:1rem 15px;
}
.placeholder {
	opacity: 0.5;
}
header#header {
	background:#FFF;

	.navbar {
		height:100px;
		padding-left:0;
		padding-right:0;

		.navbar-brand {
			width: 192px;
		    height: 42px;
		    padding-top:0;

		    img {
		    	vertical-align: top;
		    }
		}
		 a {
			color:$body-color;

			&:hover, &.active {
				color:$primary-color;
			}
		}
		.nav-item {
			a {
				padding:0rem .75rem;
			}
			.dropdown-item {
				text-align: right;
				padding: 0.25rem 1rem;

				&:active{
					a {
						color:white;
					}
					background:$primary-color;
				}
			}
		}
	}
}
section#main {
    padding:2rem 0 2rem;
    background:#F7F7F7;
    .back-crumb {
    	margin-bottom:.75rem;
    	display:inline-block;
    }
    .project-list {
    	a.project-link {
    		text-decoration:none;
    	}
    	a:hover .project-list-item {
    		background:rgba(red($primary-color), green($primary-color), blue($primary-color), 0.35);
    		border: 1px solid rgba(red($primary-color), green($primary-color), blue($primary-color), 0.75);
    		h2 {
    			text-decoration: none;
    		}
    		p {
    			text-decoration: none;
    		}
    	}
    	.project-list-item {
    		border:1px solid $grey-box-border;
    		background: $grey-box-bg;
    		padding:1rem;
    		margin-bottom:1rem;

    		h2 {
    			color:$body-color;
    		}
    		p {
    			color:$body-color;
    		}
    	}
    }
    .project-pathbar {
    	.breadcrumb {
    		background-color:$dull-header;
    		border-radius:0px;
    		margin-bottom:0;
    		svg.fa-home {
    			margin-right:.5rem;
    		}
    		a {
    			color:white;
    		}
    	}
    }
    .project-contents-table {
    	background:white;
    	margin-bottom:2rem;
    	padding: 0.5rem 1rem 1rem;
    	table {
	    	thead th {
	    		border-top:0px solid white;
	    	}
	    	margin-bottom:0.5rem;
	    }
	    button {
	    	margin-right:.5rem;
	    }
	    .table-hover tbody tr {
	    	cursor: pointer;
	    }
    }
    .home-projects-table {
    	.table {
    		margin-bottom:0;
    		border-bottom:1px solid #e6e6e6;
	    	tr {
		    	td, th {
		    		&:last-child{
		    			text-align: right;
		    		}
		    	} 
		    }
		}
	}
	.dash-activity {
		background:white;
		padding:1rem;

		ul {
			line-height: 1.3rem;
			list-style-type: none;
			padding-left:0;
			li {
				margin-bottom:1rem;
				p {
					margin:0;
					font-size:0.875rem;
				}
			}
		}
	}
    .basic-table {
    	thead th {
	    	font-weight:700;
	    	border:0px solid white;
	    	background-color:$dull-header;
	    	color:white;
	    }

    }

    .table {
    	background:white;
	    thead th {
	    	font-weight:700;
	    	border-bottom:0px solid white;
	    }
	 	th, td {
		    padding: .5rem .75rem;
		    border-top: 1px solid lighten(black, 90%);

		    button.btn {
		    	padding: .25rem .5rem;
		    	border:0px solid transparent;
		    	&.btn-danger {
		    		color:#dc3545;
		    		background-color:transparent;
		    		&:hover {
		    			background-color:#dc3545;
		    			color:white;
		    		};
		    	}
		    }
		    svg {
		    	margin-right:.35rem;
		    }
		}
	}

	.table-footer {
		padding:1rem;
		background:white;
	}

	.dashboard {
		h1 {
			margin-bottom:0rem;
		}
		h2 {
			margin:2rem 0 .5rem;
		}
		.btn-dashboard {
			display:block;
			padding: 1.2rem .5rem;

			svg {
				font-size:2rem;
			}
		}
	}
	.storage {
		p {
			margin-bottom:.25rem;
		}
		.storage-int {
			float:right;
			font-size:0.75rem;
			opacity:0.5;
		}
	}
	.progress {
		border-radius:0px;


	}

}
footer#footer {
    color:white;
    padding:2.5rem 0;

	h3 {
	    font-size:16px;
	    color:#FFF;
	    font-weight:700;
	    margin-bottom:1.5rem;
	}
	ul {
	    list-style-type: none;
	    padding-left:0;
	    padding-right:1em;
	} 
	li {
	    line-height: 1.2em;
	    margin-bottom: .6em;
	}
}

.loading-bullet {
	color:$primary-color;
}
.modal-content { 
	border-radius: 0px;
	border:none;

	.modal-header {
		background-color: $primary-color;
		color:white;
		border-radius: 0px;

		.close {
			text-shadow:none;
		}
	}
}

@media only screen and (max-width: 960px) {
    body {
        font-size:14px;
    }
}
@media only screen and (max-width: 600px) {
    body {
        font-size:12px;
    }
}