{
  "plugins": [
    // reduce babel loader bloat
    "@babel/plugin-transform-runtime",
  ],
  "presets": [
  	[
      "@babel/preset-env",
      {
        targets: {
          browsers: [
            "last 2 versions",
            "not dead",
          ],
        },
      },
    ],
  	"@babel/preset-react",
  	[
	  "@babel/preset-stage-2",
      { "decoratorsLegacy": true },
	],
  ],
}
